{% extends 'base.html' %}
{% load colaborador_tags %}

{% block contenido %}
<div class="container mt-5">
    {% if user.is_superuser or request.user|has_group:"Colaborador" %}

        <!-- Título del formulario -->
        <div class="text-center mb-5">
            <h1 class="display-4 text-primary">Crear Post</h1>
            <p class="lead">Completa el siguiente formulario para publicar un nuevo post.</p>
            <hr class="my-4">
        </div>

        <!-- Formulario para crear el post -->
        <form method="POST" enctype="multipart/form-data" class="bg-light p-5 rounded shadow-sm">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>

        <!-- Botón adicional para crear una nueva categoría -->
        <div class="text-center mt-4">
            <a href="{% url 'apps.posts:crear_categoria' %}" class="btn btn-outline-secondary">Crear nueva categoría</a>
        </div>

    {% else %}
        <!-- Mensaje de acceso denegado -->
        <div class="container text-center" style="margin: 100px;">
            <h1 class="display-4 text-danger">Acceso Denegado</h1>
            <p class="lead">¡No tienes permiso para acceder a esta página!</p>
        </div>
    {% endif %}
</div>
{% endblock %}
