{% extends 'base.html' %}

{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <h1 class="text-center" style="margin-bottom: 20px;">Restablecer contraseña</h1>
            <h5 class="text-center" style="font-weight: normal;">Ingresa tu correo electrónico para recibir un enlace y restablecer tu contraseña.</h5>


            <form method="POST" class="mt-4">
                {% csrf_token %}
                <div class="form-group text-center">
                <input type="email" name="email" placeholder="Ingresa tu correo" class="form-control" required>
                </div> 
                
                <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary btn-lg">Enviar correo electrónico</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Mensajes de alerta -->
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} text-center" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}